@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Kategori Güncelleme Sayfası</h2>
<hr />

@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="container form-group">
        @Html.Label("Kategori ID")
        @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })<br />
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })<br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })<br />
        <button class="btn btn-success">Güncelle</button>

    </div>
}

